body {
  text-align: center;
  background: url(https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-40.jpg);
  background-size: contain;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2em;
  margin: 0.67em 0;
  padding: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#page-title {
  background: #eb7a7a;
  padding: 10px 17px;
  border-radius: 15px;
  border-style: groove;
  border-color: #eb7a7a;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

th {
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 50px;
  border-style: solid;
  border-width: 1.5px;
  overflow: hidden;
  word-break: normal;
  border-color: #090000;
  color: #000000;
  background-color: #eb7a7a;
}

td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 50px;
  border-style: solid;
  border-width: 1.5px;
  overflow: hidden;
  word-break: normal;
  border-color: #090000;
  color: #000000;
  background-color: #fce4e4;
  border-style: dashed;
}